@model IEnumerable<GigHub.Core.Models.Following>
@{
    ViewBag.Title = "Index";
}

<h2>Artists I'm Following</h2>

<ul>
    @foreach (var following in Model)
    {
        <li>@following.Artist.Name</li>
    }
</ul>
